<% if current_user %>
	<h3> Welcome <%= current_user.username %>!</h3>
	<% if @archives.nil? or @archives.empty? %>
		<p>You don't have any archives.</p>
		<%= link_to  "Create An Archive", new_archive_path %><br />
	<% else %>
		<%= render partial: "archives/archives", collection: @archives %>
	<% end %>
	<br />
	<%= link_to "Delete This Account", user_path(@user), :class => "button", :method => :delete, data: {confirm: 'Are you sure?'} %>
<% else %>
		<p>You are not allowed to view this account</p>
<%end%>
